* {
  font-family: monospace;
}

#home {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 10;
}

h1, h2 {
  font-weight: lighter;
}
p {
  font-size: 17px;
}

*:hover:after,*:hover:before{content:'fuck';color:red;font-family:"Arial Black";font-size:20px;-webkit-animation:lorem 1s linear infinite;}
@keyframes lorem{0%{transform:rotate(0deg);}100%{transform:rotate(360deg);}}*:hover:before{color:hotpink;}
