body {
  margin: 0;
  overflow-y: hidden;
}
#sign2 {
  width: 120px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}

#sign > img {
  position: absolute;
  top: 5vw;
  width: 28%;
}

.dir {
  position: absolute;
  color: white;
  font-family: arial;
  font-size: 6vh;
  font-weight: bolder;
  text-transform: uppercase;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 45%;
  transition: 0.2s ease;
}
.box .dir:hover {
  font-size: 6.5vh !important;
}

.box {
  position: absolute;
}
#link-IT {
  transform: translate(-50%, -50%) matrix(1,0.15,0,1,0,0);
  top: 12.1vw;
  left: 50%;
  width: 20%;
  height: 12vh;
}

#link-art {
  transform: translate(-50%, -50%) matrix(1,-0.10,0,1,0,0);
  top: 19.2vw;
  left: 50%;
  width: 19%;
  height: 12.5vh;
}
#tworoads {
  /* position: absolute; */
  left: 0; top: 0;
  width: 100%;
}
#computer {
  position: absolute;
  z-index: 5;
  width: 17%;
  top:45%;
  left:10%;
  transition: width 3s ease;
}
#bobross {
  position: absolute;
  z-index: 5;
  width: 17%;
  top: 33%;
  left: 75%;
  transition: width 3s ease;
}
#bobross:hover{
  width: 20%
}
#bobross:hover ~ #bobross-qoute{
  display:block;
    
}
#computer:hover{
  width:20%;
}

#blur {
  background: url("bilder/TwoRoads2.jpg");
  width: 100vw;
  height: 200vw;
  background-position: 50% 100%;
  background-size: 100vw 100vw;
  transform: translateY(-4px) scaleY(-1);
  background-repeat: no-repeat;
  /* filter: blur(5px); */
}
#bobross-qoute{
    position: absolute;
    background-color: white;
    padding: 1.5rem;
    font-size: 2rem;
    border-radius: 20px;
    left: 67%;
    top: 5%;
    display:none;
}
