#sign2 {
  width: 120px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}

#sign > img {
  position; absolute;
  top: 5vw;
  width: 28%;
}

.dir {
  position: absolute;
  color: white;
  font-family: arial;
  font-size: 6vh;
  font-weight: bolder;
  text-transform: uppercase;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.box {
  position: absolute;
}
#link-IT {
  transform: translate(-50%, -50%) matrix(1,0.15,0,1,0,0);
  top: 12.1vw;
  left: 50%;
  width: 71%;
  height: 12vh;
}

#link-art {
  transform: translate(-50%, -50%) matrix(1,-0.10,0,1,0,0);
  top: 19.2vw;
  left: 50%;
  width: 75%;
  height: 12.5vh;
}
#tworoads {
  position: absolute;
  left: 0; top: 0;
  width: 100%;
}
#computer {
  position: absolute;
  z-index: 5;
  width: 20%;
  top:40%;
  left:10%;

}
