body{
  margin: auto;
}

/*START OF grunder1*/
#g1button1:link {
  list-style: none;
  background-color: lightskyblue;
  color: white;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  margin: 10px;
  transition: 0.3s ease;
  border-radius: 3px;
  left: 3%;
  top: 35vh;
}

#g1button2:link {
  list-style: none;
  background-color: lightskyblue;
  color: white;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  right: 30px;
  top: calc(100vh - 60px);
  margin: 10px;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#g1button1:hover, #g1button2:hover {
  box-shadow: 0 0 12px lightskyblue;
  font-size: 18px;
  padding: 17px 24px;
  transform: translateY(1.5px);
  margin: 4.5px;
}

#g1textbox{
  position: absolute;
  top: 0;
  left: 0; right: 0;
  height: 44vh;
  transition: height 0.5s;
  background: url(bilder/EntrepreneurshipJourney.jpg) no-repeat;
  background-size: auto 100vh;
}

#g1text{
  color: white;
  position: absolute;
  top: 9vh;
  left: 3%;
  width: 80vw;
  font-size: 23px;
}
#g1textbox:hover{
    height: 100vh;
}

#g1textbox:hover #g1button2 {
    opacity: 1.0;
}

#g1wrapper {
  left: 50%;
  position: absolute;
  transform: translate(-50%, -0%);
}

#g1img {
  height: 100vh;
  visibility: hidden;
}
/*END OF grunder1*/

/*START OF konkurs1*/
#k1button:link {
    background-color: lightskyblue;
    color: white;
    padding: 18px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
    left: 50%;
    top: 15vh;
}

#k1text{
    position: absolute;
    left: 3%;
    color: white;
    font-size: 34px;
}

#k1img{
    opacity: 0.7;
    z-index: -1;
    max-width: 100%;
    height: auto;
    position: fixed;
}

/*END OF konkurs1*/

/*START OF grunder2*/

.overskrift1{
    padding: 20px;
    font-family: monospace;
    font-size: 44pX;
    color: black;
    text-align: center;
}
.info{
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    color: black;
    margin: 1rem;
}
.button{
    padding: 14px 20px;
    background-color: lightskyblue;
    color: white;
    margin: 6px;
    font-family: fantasy;
    font-size: 16px;
    width: 220px;
    height: 60px;
    position: relative;
    left: 40px;
}
/*END OF grunder2*/

/*START OF konkurs2*/
h2{
  text-align: center;
  font-family: monospace;
  font-size: 30px;
}
#k2text2 {
  opacity: 0;
  /* left: 50%; */
  transition: opacity 0.5s;
  position: absolute;
  transform: translateX(-15%);
}

#k2button2:hover #k2text2 {
  opacity: 1.0;
}
/*END OF konkurs2*/

/*START OF suksess*/
/*END OF suksess*/
