body{
    margin: auto;
}

#button1:link {
    background-color: lightskyblue;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    left: 3%;
    top: 35%;
}

#button2:link {
    background-color: lightskyblue;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    right: 30px;
    bottom: 20px;
    margin: auto;
    opacity: 0;
    transition: opacity 0.3s;
}

#textbox{
  width: 100%;
  height: 38vh;
  transition: height 0.5s;
  padding: 50px;
  background: url(bilder/EntrepreneurshipJourney.jpg) no-repeat left fixed;
  background-size: auto 100%;
}

#text1{
    /* text-align: center; */
    color: white;
    position: absolute;
    top: 9%;
    left: 3%;
    width: 80vw;
    font-size: 23px;
}
#textbox:hover{
    height: 100vh;
}

#textbox:hover #button2 {
    opacity: 1.0;
}