body{
  margin: auto;
}

#button1:link {
  background-color: lightskyblue;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  left: 3%;
  top: 35vh;
}

#button2:link {
  background-color: lightskyblue;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  right: 30px;
  top: calc(100vh - 60px);
  margin: auto;
  opacity: 0;
  transition: opacity 0.3s;
}

#textbox{
  position: absolute;
  top: 0;
  left: 0; right: 0;
  height: 44vh;
  transition: height 0.5s;
  background: url(bilder/EntrepreneurshipJourney.jpg) no-repeat;
  background-size: auto 100vh;
}

#text1{
  color: white;
  position: absolute;
  top: 9vh;
  left: 3%;
  width: 80vw;
  font-size: 23px;
}
#textbox:hover{
    height: 100vh;
}

#textbox:hover #button2 {
    opacity: 1.0;
}

#wrapper {
  left: 50%;
  position: absolute;
  transform: translate(-50%, -0%);
}

#dummy {
  height: 100vh;
  visibility: hidden;
}