#header {
  margin-left: -10px;
  margin-top: -10px;
  width: calc(100% + 20px);
  background-image: url(bilder/code.jpg);
  background-size: cover;
  max-height: 30vh;
  box-shadow: 0 0 12px black;
}
#dummy {
  visibility: hidden;
}
#header.bot {
  background-position-y: 100%;
  position: absolute;
  bottom: 0;
}
body {
  height: 100vh;
  overflow: hidden;
}
.mid {
  position: absolute;
  width: 100vw;
  left: 0;
  top: 50%;
  transform: translate-Y(-50%);
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  margin: 20px 0 10px 0;
}
h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  margin: 0;
  margin-bottom: 20px;
}
