body{
  background-color: rgb(60,60,60);
  overflow: hidden;
}

#header-nattjobb{
  color: white;
  text-align: justify;
  position: absolute;
  top: 60px;
  left: 400px;
  text-decoration-line: underline;
  border: 5px; 
  letter-spacing: 3px;
}

#cutoffbackground{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  z-index: -1;
}

#lykkebar{
  position: absolute;
  width: 211px;
  height: 25px;
  left: 30px;
  bottom: 30px;
  /* bottom: -50px; */
  background-color: rgba(0,0,0,0.8);
  border: ridge 3px;
  overflow: hidden;
}

#lykkebar-header{
  color: white;
  position: absolute;
  bottom: 50px;
  left: 440px;
  text-align: center;
}

#redbar{
  position: absolute;
  width: 211px;
  height: 19px;
  left: 3px;
  top: 3px;
  background: red;
  box-shadow: 0 0 30px red;
  clip-path: url(#prgClip);
  animation: redbarMoves 20s linear;
}

@keyframes redbarMoves{
    0%{
        width: 0;
    }
    100%{
        width: 204px;
    }
}

main {
  width: 100vw;
  height: 100vh;
  background: url('bilder/taxiNatt.png');
  background-size: auto 100%;
  background-position-x: right;
  background-repeat: no-repeat;
}
