body{
    background-color: rgb(137,196,244);
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #header-nattjobb{
    color: white;
    text-align: justify;
    position: absolute;
    top: 60px;
    left: 250px;
    text-decoration-line: none;
    border: 5px; 
    letter-spacing: 3px;
  }
  
  #lykkebar {
    width: 211px;
    height: 25px;
    /* bottom: -50px; */
    background-color: rgba(0,0,0,0.3);
    border: solid dimgray 1px;
    overflow: hidden;
    border-radius: 4px;
  }
  
  #lykkebar-header {
    color: white;
    position: absolute;
    bottom: 50px;
    left: 440px;
    text-align: center;
  }
  
  #redbar{
    position: absolute;
    width: 0px;
    height: 18px;
    left: 53px;
    bottom: 4.5px;
    background: lime;
    clip-path: url(#prgClip);
    animation: redbarMoves 150s ease-out;
  }
  
  @keyframes redbarMoves{
    100%{
      width: 0;
      background: red;
      box-shadow: 0 0 30px red;
    }
    0%{
      width: 204px;
      background: lime;
      box-shadow: 0 0 30px lime;
    }
  }
  
  main {
    width: 100vw;
    height: 100vh;
    background: url('bilder/matbutikk.png');
    background-size: auto 100%;
    background-position: right;
    background-repeat: no-repeat;
  }
  
  #bar {
    position: absolute;
    left: 225px;
    bottom: 500px;
  }
  #luck-label {
    color: #bbb;
    font-family: monospace;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    margin-right: 3px;
    text-shadow: 1px 1px 1px #222;
  }
  #luck-label, #lykkebar {
    display: inline-block;
    vertical-align: middle;
  }
  
  
  
  #bar2 {
    position: absolute;
    left: 207px;
    bottom: 450px;
  }
  
  #successbar {
      overflow: hidden;
    width: 211px;
    height: 25px;
    /* bottom: -50px; */
    background-color: rgba(0,0,0,0.3);
    border: solid dimgray 1px;
    overflow: hidden;
    border-radius: 4px;
  }
  
  #yellowbar{
    position: absolute;
    width: 211px;
    height: 18px;
    left: 72px;
    bottom: 4.5px;
    background: lime;
    clip-path: url(#prgClip);
    animation: yellowbarMoves 100s ease-out;
  }
  
  @keyframes yellowbarMoves{
    0%{
      width: 0;
      background: red;
      box-shadow: 0 0 30px red;
    }
    100%{
      width: 204px;
      background: lime;
      box-shadow: 0 0 30px lime;
    }
  }
  
  #success-label {
    color: #bbb;
    font-family: monospace;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    margin-right: 3px;
    text-shadow: 1px 1px 1px #222;
  }
  #success-label, #successbar {
    display: inline-block;
    vertical-align: middle;
  }

  #text {
    color: white;
    text-align: justify;
    position: absolute;
    top: 300px;
    left: 250px;
    text-decoration-line: none;
    border: 5px; 
    letter-spacing: 3px;
  }
