body{
  background-color: rgb(60,60,60);
  overflow: hidden;
}

#header-nattjobb{
  color: white;
  text-align: justify;
  position: absolute;
  top: 60px;
  left: 400px;
  text-decoration-line: underline;
  border: 5px; 
  letter-spacing: 3px;
}

#lykkebar {
  width: 211px;
  height: 25px;
  /* bottom: -50px; */
  background-color: rgba(0,0,0,0.3);
  border: solid dimgray 1px;
  overflow: hidden;
  border-radius: 4px;
}

#lykkebar-header {
  color: white;
  position: absolute;
  bottom: 50px;
  left: 440px;
  text-align: center;
}

#redbar{
  position: absolute;
  width: 0px;
  height: 18px;
  left: 53.5px;
  bottom: 4.5px;
  background: lime;
  clip-path: url(#prgClip);
  animation: redbarMoves 600s ease-out;
}

@keyframes redbarMoves{
  100%{
    width: 0;
    background: red;
    box-shadow: 0 0 30px red;
  }
  0%{
    width: 204px;
    background: lime;
    box-shadow: 0 0 30px lime;
  }
}

main {
  width: 100vw;
  height: 100vh;
  background: url('bilder/taxiNatt.png');
  background-size: auto 100%;
  background-position: 150px;
  background-repeat: no-repeat;
    
}

#bar {
  position: absolute;
  left: 20px;
  bottom: 15px;
}
#luck-label {
  color: #bbb;
  font-family: monospace;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  margin-right: 3px;
  text-shadow: 1px 1px 1px #222;
}
#luck-label, #lykkebar {
  display: inline-block;
  vertical-align: middle;
}



#bar2 {
  position: absolute;
  left: 300px;
  bottom: 15px;
}

#successbar {
    overflow: hidden;
  width: 211px;
  height: 25px;
  /* bottom: -50px; */
  background-color: rgba(0,0,0,0.3);
  border: solid dimgray 1px;
  overflow: hidden;
  border-radius: 4px;
}

#yellowbar{
  position: absolute;
  width: 211px;
  height: 18px;
  left: 69.5px;
  bottom: 4.5px;
  background: lime;
  clip-path: url(#prgClip);
  animation: yellowbarMoves 400s ease-out;
}

@keyframes yellowbarMoves{
  0%{
    width: 0;
    background: red;
    box-shadow: 0 0 30px red;
  }
  100%{
    width: 204px;
    background: lime;
    box-shadow: 0 0 30px lime;
  }
}

#success-label {
  color: #bbb;
  font-family: monospace;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  margin-right: 3px;
  text-shadow: 1px 1px 1px #222;
}
#success-label, #successbar {
  display: inline-block;
  vertical-align: middle;
}

#workinfo{
    position: absolute;
    left: 300px;
    top: 150px;
    color: rgb(180,180,180);
    text-shadow: 1px 1px 1px #222;
    text-align: center;
    
}