* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  background: rgba(32, 128, 255, 0.1);
  overflow-y: hidden;
}

p {
  padding: 5px;
}

#taxinatt {
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  padding-bottom: 20px;
}

.wrapper {
  width: 70vw;
  margin-left: 15%;
  padding-top: 50px;
  padding-bottom: 20px;
}

.root {
  background: rgba(230, 230, 230, 0.2);
  padding-bottom: 7vh;
}

#hat {
  position: absolute;
  right: 7vw;
  bottom: 0px;
  height: 20vh;
  transition: 0.3s ease;
}
#hat:hover {
  transform: rotate(14deg) scale(1.07);
}

#trans-bot {
  background: linear-gradient(rgb(230, 230, 230, 0.2), white);
  width: 100%;
  height: 4vh;
  border-radius: 0 0 20% 20%;
}
#trans-top {
  background: linear-gradient(white, rgb(230, 230, 230, 0.2));
  width: 100%;
  height: 4vh;
  margin-top: 4vh;
  border-radius: 20% 20% 0 0;
}

.text p {
  font-family: Arial;
}

#hill {
  position: absolute;
  left: -10%;
  bottom: -12vh;
  width: 50vw;
  transform: rotate(6deg);
}

#heinrich{
  position: absolute;
  width: 200px;
  z-index: 2;
  left: 200px;
  bottom: 300px;
}
