body {
  background: black;
}

.tl, .br {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  opacity: 0.5;
  transition: 0.5s;
}
.tl {
  clip-path: polygon(0 0, 0 100%, 100% 0);
  background: url(bilder/day.jpg);
  background-size: cover;
  background-position: 100% 0%;
}
.br {
  clip-path: polygon(0 100%, 100% 100%, 100% 0);
  background: url(bilder/night.jpg);
  background-size: cover;
  background-position: 0% 100%;
}

.tl:hover, .br:hover {
  opacity: 1 !important;
}

#text {
  position: absolute;
  color: white;
  font-family: monospace;
  text-transform: uppercase;
  font-size: 3vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 10px black;
  pointer-events: none;
}
