body { overflow-x: hidden; }

.tumble {
  width: 25vh;
  position: absolute;
  bottom: 5vh;
  right: -30vw;
  animation: move 5s linear infinite
           , bounce 0.5s ease infinite
           , rotate 2s linear infinite;
}

.shadow {
  width: 15vh;
  height: 2px;
  bottom: 5vh;
  position: absolute;
  background: black;
  filter: blur(2px);
  opacity: 0.5;
  box-shadow: 0 0 10px black;
  animation: move 5s linear infinite
           , shadowbounce 0.5s ease infinite;
}

@keyframes move {
  0%{
    right: -25vh;
  }
  100%{
    right: 130vw;
  }
}

@keyframes bounce {
  0%{
    bottom: 5vh;
  }
  60%{
    bottom: 15vh;
  }
  100%{
    bottom: 5vh;
  }
}

@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-360deg);
  }
}

@keyframes shadowbounce {
  0%{
    transform: translateX(-7.5vh);
    width: 15vh;
  }
  60%{
    transform: translateX(-6vh);
    width: 12vh;
  }
  100%{
    transform: translateX(-7.5vh);
    width: 15vh;
  }
}

h1 { margin-top: 15vh; }

body {
  background: url(../bilder/gallery.jpg) no-repeat;
  background-size: cover;
}

h1, h2 {
  text-align: center;
}

#wrapper {
  max-width: 40vw;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}
