#g1button1, #g1button2 {
  left: 20%;
  transition: .3s ease;
  position: absolute;
}

#g1button1, #g1button2, #g1text, #g1textbox, #g1wrapper {
  position: absolute;
}

#g1button2, #g1text, #k1text {
  font-family: monospace;
}

#g1text, #k1text, .info {
  color: #fff;
}

#k2text2, #k2wrapper, .info, .menu ul li, .overskrift1, .text {
  text-align: center;
}

body {
  margin: auto;
  background: #000;
}

#bodyIdG1 {
  background-color: #414141;
}

#bodyIdG2 {
  background-color: #0f0f32;
}

#g1button1 {
  top: 33vh;
}

#g1button2 {
  top: calc(96vh - 150px);
  opacity: 0;
}

#g1textbox {
  top: 0;
  left: 0;
  right: 0;
  height: 47vh;
  transition: height .5s;
  background: url(../bilder/EntrepreneurshipJourney.jpg) no-repeat;
  background-size: auto 100vh;
  clip-path: polygon(0 0,100% 0,100% 89%,97.6% 87%,92.6% 87%,87% 96%,83% 90%,75.2% 93% ,69% 87%,60.5% 94%,52.5% 90%,46.5% 96%,39.8% 90%,30% 99%,23.3% 90% ,17% 94%,4.9% 87%,0 93%);
  margin-top: 3vh;
}

#g1text {
  top: 9vh;
  left: 3%;
  width: 50vw;
  font-size: 20px;
}

#g1textbox:hover {
  height: 94vh;
  clip-path: none;
}

#g1textbox:hover #g1button2 {
  opacity: 1;
}

#g1wrapper {
  left: 50%;
  transform: translate(-50%,0);
}

#g1img {
  height: 100vh;
  visibility: hidden;
}

#k1button {
  padding: 28px 38px;
  position: relative;
  left: 50%;
  top: 18vh;
}

#k1text {
  position: absolute;
  left: 20%;
  font-size: 44px;
}

#k1img {
  opacity: .7;
  z-index: -1;
  max-width: 100%;
  height: auto;
  position: fixed;
}

.overskrift1 {
  padding-top: 110px;
  margin-bottom: 25px;
  font-size: 46px;
  color: #fff;
  text-transform: uppercase;
  font-family: arial;
  text-shadow: 0 0 40px rgba(255,255,255,.2);
}

#k2h2, .info {
  font-family: monospace;
}

.info {
  margin: -10px;
  font-size: 18px;
  font-style: italic;
  opacity: .7;
  padding-bottom: 15px;
}

#k2background {
  background-image: url(../bilder/domstol.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -5;
}

#k2wrapper {
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 600px;
  height: 360px;
  border: 10px solid #000;
  border-radius: 10px;
  background-color: rgba(255,255,255, 0.8);
  position: fixed;
}

#k2h2 {
  left: 50%;
  margin: 10px;
  padding: 8px;
  font-size: 30px;
}

#k2wrapper .menu>ul {
  padding-left: 0;
}

#k2button2 {
  position: relative;
}

#k2text2 {
  opacity: 0;
  transition: opacity .5s;
  color: #000;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
}

#waveCont, #waveCont>div {
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
}

#k2button2:hover #k2text2 {
  opacity: 1;
}

#waveCont {
  height: 10%;
}

#waveCont>div {
  background-image: url(../bilder/wave-hi.png);
  background-repeat: repeat-x;
  background-size: contain;
  height: 100%;
}

#wave1 {
  z-index: 2;
  opacity: .4;
  animation: wave 70s linear infinite reverse;
}

div#wave2 {
  opacity: .7;
  height: 90%;
  background-position: 3%;
  animation: wave 50s linear infinite;
}

@keyframes wave {
  0% {
    background-position: 0;
  }

  100% {
    background-position: 100%;
  }
}

#imgbox {
  left: 13vw;
  bottom: 55px;
  position: absolute;
  animation: updown 2s linear infinite;
}

#person {
  position: absolute;
  background-image: url(../bilder/champagne-toast-animated-gif-2.gif);
  background-size: cover;
  border-radius: 25%;
  left: 50px;
  z-index: 5;
  opacity: 0;
  transition: .3s ease;
  width: 200px;
  height: 200px;
  top: 0;
}

#imgbox:hover #person {
  left: 60px;
  opacity: 1;
}

#yacht {
  left: 0;
  z-index: 1;
  border-radius: 0 0 0 16%;
}

@keyframes updown {
  0%, 100% {
    bottom: 55px;
  }

  50% {
    bottom: 65px;
  }
}

#sbackground {
  position: absolute;
  z-index: -5;
  height: 100%;
  width: 100%;
  background-size: 100vh 100vh;
  background-color: #87cefa;
  animation: sunset 60s ease infinite;
}

@keyframes sunset {
  0% {
    filter: none;
    background: radial-gradient(yellow 7%,#fff 24%,#87cefa 52%);
    background-repeat: no-repeat;
    background-size: 100vh 100vh;
    background-position: 50% 50%;
    background-color: #87cefa;
    opacity: 1;
  }

  25%, 75% {
    background: radial-gradient(yellow 2%,#fff 24%,#87cefa 52%);
    background-repeat: no-repeat;
    filter: saturate(.6) sepia(1);
    background-size: 400vh 400vh;
    background-position: -50vh 30vh;
    background-color: #87cefa;
    opacity: 1;
  }

  50% {
    background: radial-gradient(yellow 2%,#fff 24%,#87cefa 52%);
    background-repeat: no-repeat;
    filter: saturate(1) sepia(0) grayscale(.3);
    background-size: 200vh 200vh;
    background-position: 0 80vh;
    background-color: #87cefa;
    opacity: .4;
  }

  100% {
    filter: none;
    background: radial-gradient(yellow 7%,#fff 24%,#87cefa 52%);
    background-size: 100vh 100vh;
    background-position: 50% 50%;
    background-color: #87cefa;
    background-repeat: no-repeat;
    opacity: 1;
  }
}

.menu ul li a {
  width: 350px;
  background: rgba(0,64,255,.6)!important;
  margin-bottom: 12px!important;
}

.menu ul li a:hover {
  box-shadow: 0 0 15px rgba(0,0,255,.6);
}

.thumb {
  height: 60px;
  position: absolute;
  transform: translateX(-70px);
  opacity: 0;
  transition: .4s ease-out;
}

.thumb.right {
  transform: none;
}

.menu li:hover .thumb {
  opacity: 1;
  transform: translateX(-70px) rotate(-10deg) scale(1.1);
}

.menu li:hover .thumb.right {
  transform: translateX(15px) rotate(10deg) scale(1.1);
}

.menu ul li {
  display: inline-block;
}

.menu>ul {
  flex-direction: column!important;
  display: inline-table!important;
}

#milk {
  filter: invert(1);
}

.text {
  width: 70%;
  position: absolute;
  left: 15%;
  top: 15%;
  animation: nighttext 60s ease infinite;
}

#stars {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url(../bilder/stars.jpg);
  background-size: cover;
  opacity: 0;
  animation: night 60s ease infinite;
}

@keyframes night {
  0%, 100%, 30%, 75% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes nighttext {
  0%, 100%, 30%, 75% {
    color: #000;
  }

  40%, 60% {
    color: #fff;
  }
}

#options {
  position: absolute;
  top: 25vh;
  left: 50%;
  transform: translateX(-50%);
}

#options a:hover:after {
  content: 'Nicolai';
}

#options a:hover span {
  display: none;
}
