#header {
  margin-left: -10px;
  margin-top: -10px;
  width: calc(100% + 20px);
  background-image: url(../bilder/code.jpg);
  background-size: cover;
  max-height: 30vh;
  box-shadow: 0 0 12px black;
}
#dummy {
  visibility: hidden;
}
#header.bot {
  background-position-y: 100%;
  position: absolute;
  bottom: 0;
}
body {
  height: 100vh;
  overflow: hidden;
}
body.two { filter: none; }
body:before {
  content: '';
  z-index: -1;
  background: url(../bilder/binary.jpg);
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  opacity: 0.08;
  filter: invert(1) brightness(1.3) grayscale(0.4) hue-rotate(240deg) blur(0px);
}
body.two:before {
  /* opacity: 0.2; */
  filter: invert(1) brightness(1.3) grayscale(0.4) hue-rotate(160deg) blur(0px);
}
#mid {
  position: absolute;
  width: 100vw;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  margin: 20px 0 10px 0;
}
h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  margin: 0;
  margin-bottom: 20px;
  font-style: italic;
  color: dimgray;
}

.menu > ul {
  padding-left: 0;
}

.two {
  filter: hue-rotate(240deg);
}

.bore {
  padding: 6px 0;
  /* background: rgba(0,0,0,0.01); */
  /* text-shadow: 0 0 0 black; */
  /* color: rgba(32,128,255,0.7); */
  /* opacity: 0.8; */
}
