#bar, #header-nattjobb, #lykkebar-header, #redbar {
  position: absolute;
}

#header-nattjobb, #luck-label, #success-label {
  text-shadow: 1px 1px 1px #222;
  font-family: monospace;
}

#redbar, #yellowbar {
  clip-path: url(#prgClip);
}

body {
  background-color: #3c3c3c;
  overflow: hidden;
  margin: 0;
}

#header-nattjobb {
  color: #fff;
  text-align: justify;
  top: 60px;
  left: 400px;
  text-decoration-line: underline;
  border: 5px;
  letter-spacing: 3px;
  font-size: 40px;
}

#lykkebar, #successbar {
  width: 211px;
  height: 25px;
  background-color: rgba(0,0,0,.3);
  border: 1px solid #696969;
  overflow: hidden;
  border-radius: 4px;
}

#lykkebar-header {
  color: #fff;
  bottom: 50px;
  left: 440px;
  text-align: center;
}

#redbar {
  width: 0;
  height: 18px;
  left: 53.5px;
  bottom: 4.5px;
  background: #0f0;
  animation: redbarMoves 600s ease-out;
}

#bar, #bar2 {
  bottom: 15px;
}

@keyframes redbarMoves {
  100% {
    width: 0;
    background: red;
    box-shadow: 0 0 30px red;
  }

  0% {
    width: 204px;
    background: #0f0;
    box-shadow: 0 0 30px #0f0;
  }
}

main {
  width: 100vw;
  height: 100vh;
  background: url(../bilder/taxiNatt.png) no-repeat;
  background-size: auto 100%;
  background-position-x: 100%;
}

#bar {
  left: 20px;
}

#luck-label, #success-label {
  color: #bbb;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  margin-right: 3px;
}

#workinfo, #workinfo2 {
  color: #b4b4b4;
  text-align: center;
  position: absolute;
}

#luck-label, #lykkebar, #success-label, #successbar {
  display: inline-block;
  vertical-align: middle;
}

#bar2 {
  position: absolute;
  left: 300px;
}

#yellowbar {
  position: absolute;
  width: 211px;
  height: 18px;
  left: 69.5px;
  bottom: 4.5px;
  background: #0f0;
  animation: yellowbarMoves 400s ease-out;
}

@keyframes yellowbarMoves {
  0% {
    width: 0;
    background: red;
    box-shadow: 0 0 30px red;
  }

  100% {
    width: 204px;
    background: #0f0;
    box-shadow: 0 0 30px #0f0;
  }
}

#workinfo {
  left: 300px;
  top: 150px;
  animation: workinfoFadein 3s ease-in;
}

#workinfo2 {
  left: 370px;
  top: 350px;
  animation: workinfoFadein2 8s ease-in;
}

.menu, .menu a:hover, .menu ul li a {
  animation: menuFadein 10s ease-in;
}

@keyframes workinfoFadein {
  0% {
    color: #3c3c3c;
  }

  100% {
    color: #b4b4b4;
    text-shadow: 1px 1px 1px #222;
  }
}

@keyframes workinfoFadein2 {
  0%, 80% {
    color: #3c3c3c;
  }

  100% {
    color: #b4b4b4;
    text-shadow: 1px 1px 1px #222;
  }
}

.menu {
  text-align: center;
  position: absolute;
  left: 280px;
  bottom: 100px;
}

.menu>ul {
  display: flex;
  justify-content: center;
}

.menu ul li a {
  list-style: none;
  text-decoration: none;
  color: #fff;
  padding: 14px 20px;
  display: inline-block;
  transition: .3s ease;
  background-color: #3c3c3c;
  margin: 10px;
  border-radius: 3px;
  font-family: monospace;
}

.menu ul li {
  display: block;
}

.menu a:hover {
  box-shadow: 0 0 12px #87cefa;
  font-size: 18px;
  padding: 17px 24px;
  transform: translateY(1.5px);
  margin: 4.5px;
}

@keyframes menuFadein {
  0%, 80% {
    color: #3c3c3c;
  }

  100% {
    display: block;
  }
}

#headlights {
  position: absolute;
  top: 47.5%;
  right: 4vh;
  width: 72vh;
  height: 9vh;
  transform: rotate(3deg);
}

#headlights>#left, #headlights>#right {
  background: red;
  width: 10%;
  height: 100%;
  position: absolute;
  border-radius: 1000px;
  box-shadow: 0 0 50px tomato;
  animation: headlights 2s ease infinite;
}

#headlights>#left {
  left: 0;
}

#headlights>#right {
  right: 0;
}

@keyframes headlights {
  0%, 100% {
    filter: blur(3.3vh);
  }

  50% {
    filter: blur(3.5vh);
    width: 13%;
    height: 110%;
  }
}
