#romskip, .br, .tl {
  bottom: 0;
  position: absolute;
}

#romskip, #text, .br, .tl {
  position: absolute;
}

body {
  background: #000;
  overflow: hidden;
}

.br, .tl {
  top: 0;
  left: 0;
  right: 0;
  opacity: .5;
  transition: .5s;
}

.tl {
  clip-path: polygon(0 0,0 100%,100% 0);
  background: url(../bilder/day.jpg) 100% 0;
  background-size: cover;
}

.br {
  clip-path: polygon(0 100%,100% 100%,100% 0);
  background: url(../bilder/night.jpg) 0 100%;
  background-size: cover;
}

.br:hover, .tl:hover {
  opacity: 1!important;
}

#romskip {
  width: 20%;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  left: 25%;
  animation: romskipFly 5s 1 forwards;
}

#text {
  color: #fff;
  font-family: monospace;
  text-transform: uppercase;
  font-size: 3vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-shadow: 0 0 10px #000;
  pointer-events: none;
}

@keyframes romskipFly {
  from {
    bottom: 0;
    left: 25%;
  }

  to {
    bottom: 100%;
    left: 150%;
  }
}
